@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gasoek+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
}
body {
  margin: 0;
  background-color: #79ae92;
  margin-bottom: 50px;

}

header {
  padding: 1rem;
  margin: auto;
  background-color: #f7f8fc;
  border-bottom: solid 4px #010300;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  margin: 10px;
  padding: 1rem;
}

.oculto {
  display: none;
}

h1 {
  margin: 0;
  padding: 0;
}
p{
  font-size: 20px;
}
.bowlby-one-regular {
  font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Tomorrow", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 0;
}

nav {
  display: flex;
  font-family: "Bowlby One", sans-serif;
  font-style: normal;
}

ul {
  list-style-type: none;
  letter-spacing: 2px;
}

li {
  float: left;
  padding-left: 5px;
}

.general {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 2rem;
  align-items: center;
}

div.transi:hover {
  border-width: 0;
  border: 1px solid black;
  filter: none;
}

img {
  width: 100%;
  height: auto;
}

.general-card1 {
  grid-column: span 6 / span 6;
  display: flex;
  flex-direction: column;
  background-color: #bdeadb;

}

.general-card2 {
  grid-column: span 2 / span 2;
  display: flex;
  background-color: #c8dfd2;
  padding: 0;

  filter: drop-shadow(7px 7px 0 rgba(0, 0, 0, 1));
}

.about {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
  display: grid;
  margin-top: 2rem;
  align-items: center;
}

.about-1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: transparent;
}

div.actual {
  background-color: #ddeadd;
}

div.skill {
  background-color: #ddeadd;
}

div.info { 
  background-color: #bdeadb;
}
.conoce {
  padding: 2px;
  width: fit-content;
  border: 2px solid black;
  border-radius: 2px;
  background-color: #f7f8fc;
  float: left;
  filter: drop-shadow(7px 7px 0 rgb(0 0 0 / 1));
  transition-duration: 0.5s;
  cursor: pointer;
}

.gene {
  border-radius: 0.3rem;
  border: 2px solid black;
  padding: 2rem;
  filter: drop-shadow(7px 7px 0 rgb(0 0 0 / 1));
  transition-duration: 0.5s;
}

ul.skill {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  float: left;
}

span {
  filter: drop-shadow(3px 3px 0 rgb(0 0 0 / 1));
  border-radius: 3px;
  border: 2px solid black;
  padding: 0.25rem 0.8rem;
  transition: all;
  transition-duration: 0.5s;
  background-color: #edeade;
  font-size: small;
  animation: ease-in-out;
}

a {
  text-decoration: none;
  color: #010300;
}

footer {
  background-color: #010300;
  margin: 0;
  padding: 1%;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.black-ops-one-regular {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.gasoek-one-regular {
  font-family: "Gasoek One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

footer > p {
  display: inline;
  padding-right: 1%;
  font-size: 25px;
}
footer a{
  color: white;
}

.highlight {
  cursor: pointer;
}

.highlight::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px; /* Altura de la barra */
  background-color:#79ae92; /* Color barra */
  transition: width 0.3s ease; /* Duración-tipo de transición */
  border-radius: 2%;
}

.highlight:hover::before {
  width: 50%; /* Ancho de la barra al pasar el mouse*/
}
